.post-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
}
.post-list .card{
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
}
.post-list .card:hover{
    transform: rotate(3deg);
}
.post-list .card h3{
    color: #555;
    margin-bottom: 6px;
}
.post-list .card p{
    color: #999;
    font-size: 0.9em;
}
.post-list .card div{
    color: #555;
    font-size: 0.7em;
    margin: 20px 0;
    line-height: 1.5em;
}

@media screen and (max-width: 800px) {
    .post-list {
        grid-template-columns: 1fr;
    }
  }